<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <input type="file">
    <span>המשימות שלי</span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side" color="primary">
    <mat-nav-list>
      <a mat-list-item (click)="linkTo('/start')">משימות</a>
      <a mat-list-item (click)="linkTo('/bug')">באגים</a>
      <a mat-list-item (click)="linkTo('/dasboard')">ניתוח נתונים</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>